@mixin clearfix {
   &::after {
      content: "";
      display: table;
      clear: both;
   }
}

@mixin background-image-section($img-url) {
   background-image: linear-gradient(
                   to right bottom,
                   rgba($color-primary-light, 0.8),
                   rgba($color-primary-dark, 0.8)),
   url($img-url);
}

@mixin linear-gradient-text {
   background-image: linear-gradient(
                   to right,
                   $color-primary-light,
                   $color-primary-dark
   );
   -webkit-background-clip: text;
   color: transparent;
}

@mixin center-horizontal-vertical {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}