.details {
    border: solid 1px rgb(121, 119, 119);
    height: 100vh;
}

/* ----  COLORS ----- */
/* gray : rgb(150, 150, 150);
/* black : rgb(24, 24, 24);
/* ------------ */

/* ------------ */
/* MENU */
/* ------------ */

.menu {
    padding: 5rem;
    height: 100vh;
}

.menu__profile {
    margin-bottom: 10rem;
}

.menu__profile p {
    display: inline-block;
    margin-left: 2rem;
    top: 50%;
    transform: translateY(-40%);
    font-weight: bold;
}

.menu__profile p span {
    color: rgb(150, 150, 150);
    font-weight: normal;
}


.menu__profile img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: double 0.3rem transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white),
     radial-gradient(circle at top left,
     rgb(58, 230, 124),
     #146b9eb8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.menu__actions li {
    list-style: none;
    margin-bottom: 2rem;
}

.menu__actions li a:link,
.menu__actions li a:visited { 
    text-decoration: none;
    margin-left: 2.5rem;
    color: rgb(150, 150, 150);
}

.icon-small {
    font-size: 3rem;
    margin-right: 2.5rem;
    /* Align icons and text */
    display: inline-block;
    vertical-align: middle;
}

.icon-small-cart {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    /* Align icons and text */
    display: inline-block;
    vertical-align: middle;
}

.menu__actions li a:hover,
.menu__actions li a:active { 
    color: rgb(0, 0, 0);
}

/* ------------ */
/* Dashboard */
/* ------------ */

.dashboard {
    border-left: solid 1px rgba(199, 198, 198, 0.379);
    padding: 5rem;
    height: 100vh;
}

.dashboard__hello {
    margin-bottom: 5rem;
}

.dashboard__hello h1 { font-size: 5rem; }

.dashboard__hello h3 {
    color: rgb(150, 150, 150);
}

.dashboard__wallet h2 { 
    font-size: 3rem;
    margin-bottom: 3rem;
}

.dashboard__credit-card {
    border: solid 1px rgb(170, 166, 166);
    height: 30rem;
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 3rem;
}

.dashboard__add-cart-btn {
    border: dashed 1.8px rgb(199, 194, 194);
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.714);
    margin-bottom: 8rem;
    display: block;
    font-size: 1.8rem;
    color: rgb(24, 24, 24);
    text-decoration: none;
    /* Center div content vertically */
    padding: 1rem 0;
}

.dashboard__transactions>h2 {
    margin-bottom: 3rem;
}

.dashboard__transactions li {
    list-style: none;
}

.dashboard__transactions li a{
    color: rgb(24, 24, 24);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 1rem 0;
    border: solid 2px red;
    margin-bottom: 2rem;
}

.dashboard__transactions li a>div:first-child {
    width: 10%;
    border: solid 1px black;
    display: inline-block;
    top: 50%;
    transform: translateY(-40%);
}

.dashboard__transactions li a>div:nth-child(2) {
    width: 70%;
    border: solid 1px black;
    display: inline-block;
}

.dashboard__transactions li a>div:last-child {
    width: 10%;
    border: solid 1px rgb(147, 108, 108);
    display: inline-block;
    top: 50%;
    transform: translateY(-40%);
}