* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    background-color: #fff;
    color: rgb(21, 20, 20);
    font-family: 'Be Vietnam','Arial',sans-serif;
    font-weight: 300;
    /* font-size = 10px => 10 / 16 = 0.625 */
    font-size: 62.5%; 
    overflow-x: hidden;
}

body {
    font-size: 1.5rem;
}

/* Use to clear the elements or parent element which have the float property */
.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1240px;
    margin: 0 auto;
}